<div class="container mt-5">
    <div>
        <form>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 text-right col-form-label labelBill ">บริษัท</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                </div>
            </div>
    
    
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 text-right col-form-label labelBill ">ประเภท</label>
                <div class="col-sm-8">
    
                    <select class="form-control select2-hidden-accessible" id="select2-search-hide"
                        style="width: 100%; height:36px;" data-select2-id="select2-search-hide" tabindex="-1"
                        aria-hidden="true">
                        <option value="AK" data-select2-id="45">Alaska</option>
                        <option value="HI" data-select2-id="448">Hawaii</option>
                        <option value="CA" data-select2-id="450">California</option>
                        <option value="NV" data-select2-id="451">Nevada</option>
                        <option value="OR" data-select2-id="452">Oregon</option>
                        <option value="WA" data-select2-id="453">Washington</option>
                    </select>
    
    
                </div>
            </div>
    
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 text-right col-form-label labelBill ">เลขที่บิล</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com">
                </div>
            </div>
    
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 text-right col-form-label labelBill ">วันที่พิมพ์</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com">
                </div>
            </div>
    
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 text-right col-form-label labelBill ">ทะเบียนรถ</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com">
                </div>
                <label for="staticEmail" class="col-sm-2 text-right col-form-label labelBill ">โควต้า</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com">
                </div>
    
            </div>
    
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 text-right col-form-label labelBill ">น้ำหนัก</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com">
                </div>
                <label for="staticEmail" class="col-sm-2 text-right col-form-label labelBill ">ราคา</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="staticEmail" placeholder="email@example.com">
                </div>
    
            </div>
            <div>
                <button class="btn  btnAdd "> ADD </button>
            </div>
    
        </form>
    </div>
    <div>
        <div class="table tableAdd col-sm-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">วันที่</th>
                        <th scope="col">PO No.</th>
                        <th scope="col">บริษัท</th>
                        <th scope="col">น้ำหนัก</th>
                        <th scope="col">ราคา</th>
                        <th scope="col">จำนวนเงิน</th>
                        <th scope="col">PDF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>  
    </div>
   
    
</div>