.btnAdd {
    width: 150px;
    height: 44px;
    border-radius: 8px;
    border: solid 1px #000000;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    margin: 30px 463px 30px 565px;
  }
  .tableAdd {
    width: 100%;
    height: 100%;
    opacity: 0.62;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 30px 30px ;


  }

  .labelBill{
    color: white;
  }