
.logoImg {
    width: 192px;
    height: 83px;
  }

 .bgMaiaek {
     background-image: url('../../../assets/background/background.jpg');

  }
  .reportBtn{
    width: 150px;
    height: 59px;
    opacity: 0.5;
    border-radius: 8px;
    background-color: #000000;
    color: white;
  }

  .bg-header {
      background-color: #0e0a04;
      opacity: 0.7;
  }
  .iUser {
    font-size:36px;
    color: white;

  }
 
