  <nav class="navbar navbar-expand-lg navbar-light bg-header ">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/header/logoHeader.png" class="logoImg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"> 
            <button class = "reportBtn"> ReportBill</button>
            <span class="sr-only">(current)</span>
          </a>
         </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
              <button class = "reportBtn"> ReportPO</button>
          </a>
        </li>
      </ul>

        <svg class="bi bi-person-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        <a class="nav-item nav-link" style="color: white;" href="#">username</a>
      
    </div>
  </nav>