<a class="navbar-brand" href="#">
    <img src="../../../assets/header/logoHeader.png" class="logoImg" alt="">
</a>


<div class="loginForm">
    <div class="bgLogin">
        <form action="">

            <h1> USER LOGIN </h1>
            <div class="row">
                <div class="col-md-5 mx-auto mt-3">
                    <input type="text" class="form-control-lg mb-3" placeholder="Username" name="uname" required>

                    <input type="password" class="form-control-lg mb-3" placeholder="Password" name="password" required>

                    <div class="col-md-5 btnLogin ">
                        <button type="submit" class=" btn btn-block mybtn tx-tfm">Login</button>
                    </div>
                </div>
                

            </div>


        </form>



    </div>


</div>