<div class="container mt-5 mr-5 ">
    <div class="from-group row">
        
        <div class="col-sm-4">
            <a href=" ">
                <label for="" class="companyName">01</label>
                <h3 for="" class="copanyDesc">บริษัทอะไรก็ว่าไป</h3>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="">
                <label for="" class="companyName">02</label>
                <h3 for="" class="copanyDesc">บริษัทอะไรก็ว่าไป</h3>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="">
                <label for="" class="companyName">03</label>
                <h3 for="" class="copanyDesc">บริษัทอะไรก็ว่าไป</h3>
            </a>
        </div>
    </div>


    <div class="from-group row">
        <div class="col-sm-4">
            <a href=" ">
                <label for="" class="companyName">04</label>
                <h3 for="" class="copanyDesc">บริษัทอะไรก็ว่าไป</h3>
            </a>
        </div>

        <div class="col-sm-4">
            <a href=" ">
                <label for="" class="companyName">05</label>
                <h3 for="" class="copanyDesc">บริษัทอะไรก็ว่าไป</h3>
            </a>
        </div>

        <div class="col-sm-4">
            <a href=" ">
                <label for="" class="companyName">06</label>
                <h3 for="" class="copanyDesc">บริษัทอะไรก็ว่าไป</h3>
            </a>
        </div>

    </div>

</div>